<div class="container contact">
    <h1>Contact</h1>
    <p>Thanks for vibing it and keeping it tight. If you need me, hit me on my <a href="http://twitter.com/stu_yeezy" target="_blank">Twitter</a></p>
</div>
