<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to Hearthstone Deck Builder</h1>
            <p>Experiment with new deck recipes and send them to your account or share them with your friends!</p>
            <%= link_to "Learn more »", "http://us.battle.net/hearthstone/en/", :target => "_blank", class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-text">
                <h2>Discover</h2>
                <p>Learn what different cards do. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4 col-text">
                <h2>Build</h2>
                <p>Build a deck based on the cards in your collection. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4 col-text">
                <h2>Share</h2>
                <p>Share your deck recipes with your friends! </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>